body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: blanchedalmond;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
}

.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border:2px Solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="Submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(130, 46%, 68%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="Submit"]:hover{
    background-color: hsl(130, 46%, 50%);
}

.Card{
        Background: linear-gradient(180deg,hsl(0, 4%, 20%),hsl(60, 17%, 88%));
        padding: 50px;
        box-shadow: 2px 2px 5px red;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
h1{
    font-size: 3.5rem;
    margin-top:0;
    margin-bottom: 25px;
    }
p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .TempDisplay{
font-size: 3.5rem;
font-weight: bold;
color: hsla(0, 0%, 0%, 0.75);
margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
Color:hsl(0, 0%, 75%);
}